@import url(https://fonts.googleapis.com/css?family=Nunito);

html {
  height: 100%;
 
}

body { 
  margin:0;
  padding:0;
	perspective: 1px;
	
  height: 100%;
  overflow-y: scroll;

  font-family: Nunito;
}

h1 {
   font-size: 120%
}

p {
  font-size: 100%;
  line-height: 100%;
  color: #333;
}

.slide {

  
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);

}



.normal {
  position: relative;
  padding: 6px ;
  max-height: 12x;
  width: 100vw;

}
img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 160px;
  height: 120px;
 
  padding: 4px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 4px rgba(0, 0, 0, .7);
}



.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
  width:100vw;
}

.title {
  max-height: 100vh;
  width: 70%;
  padding: 5%;
  border-radius: 2px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 3px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 15%;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;  
}

.header {
  text-align: center;
  font-size: 175%;
  color: #fff;

    
  
  text-shadow: 0 2px 2px #000;
}
#slide0 {
  background-image: url("https://cn.pling.com/img/e/a/9/8/6fe4bb926f48f7ef104b56f95d53e999c3cd.jpg");
 

    
  
}
#slide1 {
  background: rgba(240,230,220, .7);
 
  
}





#slide3 {
  background: rgba(240,230,220, .7);
 /* z-index:2;*/
}

#slide2 {
  background: rgba(240,230,220, .7);
 /* transform: translateZ(-1px) scale(2);*/

}

#slide4 {
  background: #222;
}


.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
    transform: scale(1.2); 
}

.instagram {
  background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
  color: white;
}

.whatsapp {
  background: #25d366;
  color: white;
}

.quora {
  background: #bb0000;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: #000000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}
.mobile_device_380px {
  display: none;
}
.mobile_device_480px {
  display: none;
}


/* if mobile device max width 380px */
@media only screen and (max-device-width: 380px) {
  .mobile_device_380px{display: block;}       
  .desktop {display: none;}
} 

/* if mobile device max width 480px */
@media only screen and (max-device-width: 480px) {
 .mobile_device_480px{display: block;}
 .desktop {display: none;}
}