h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
}






.Imgaes{
	flex-wrap: wrap;
	justify-content: center;
	display: flex;
	}
	
	img {
		width: 400px;
		height: 200px;
		margin: 10px;
		transition: all 1s;
		
			border-radius: 5%;
	
	}
	
	img:hover {
		transform: scale(1.1);
	}
	h3{
		text-align: center
	}
	.logo {
		display: inline-block;
		vertical-align: center;
		width: 200px;
		height: 100px;
		margin-left: 50px;
		margin-right: 50px;
		margin-top: 10px;    /* if you want it vertically middle of the navbar. */
	}
	
	
	.portfoliologo,.Briologo,.contactlogo,.Aboutlogo{
		display: inline-block;
		vertical-align: center;
		width: 60px;
		height: 75px;
		
		margin-left: 80px;
		margin-right: 80px;
		margin-top: 0px;    
		margin-top: 20px;  /* if you want it vertically middle of the navbar. */
	}
	
	 
	 .big-title page-title font-1 {

		font-size: 18.57142857em;
		line-height: 0.84615385em;
		margin-bottom: 0.07692308em;
	
	}
	.contact_heading{
	
			text-align: justify;
		
	}